#gameContainer{
    background-color: lightsteelblue;
    width: 50%;
    height: 500px;
    margin: auto;
    border: black;
    border-style: solid;
}

#players{
    background-color: cornflowerblue;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.player{
    text-align: center;
}

#playerOne{
    width: 49%;
    height: 50px;
    background-color: rgb(0, 157, 205);
}

#playerTwo{
    width: 49%;
    height: 50px;
    background-color: rgb(15, 119, 255);
}

#playerDivider{
    width: 2%;
    height: 50px;
    background-color: black;
}

#gameBoard{

    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 300px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33.333333%
}

.gameBoxes{
    height: 32.4%;
    width: 32.4%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    
}

